@{
    ViewData["Title"] = "Home Page";
}
@{ 
    var Bookinfo = ViewData["Book"] as BookModel;
}

@*<div class="text-center">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<script src="~/lib/jquery/jquery.js"></script>
@*<script>
        $(document).ready(function () {
            alert("Page loaded");
        });
    </script>*@

<section class="jumbotron text-center">
    <div class="container">
        <h1>Id-@Bookinfo.Id author-@Bookinfo.Author</h1>
        <h1>Welcome to BookStore @ViewBag.Title </h1>
        @*<environment names="Development">
                <h3>Development</h3>
            </environment>
            <environment names="Production">
                <h3>Production</h3>
            </environment>*@
        <p class="lead text-muted">Description of Book Store @ViewData["property1"] .</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">This Section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">This Section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"></svg>
                    <div class="card-body">
                        <p class="card-text">This Section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>